# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sublime Text files
*.sublime-project
*.sublime-workspace

# AOC related files
creds/
data/
img/

# virtual environment
Lib/
Scripts/

# incomplete stuff
2019/aoc_visualizer/
